{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
  {% if user.is_authenticated %}
  <br/>
  <div class="container">
  {% if user.is_staff %}
    <h3 style="text-align:center">Pending Requests</h3>
    <div class="accordion" id="accordionExample">
      {% for order in pendingOrders %}
  
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button  class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{order.id}}" aria-expanded="false" aria-controls="collapse{{order.id}}" >
            {{order.candidate.username}}, {{order.slot.exptTitle}}
          </button>
        </h2>
        <div id="collapse{{order.id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p><strong>Description : </strong> {{order.slot.exptDesc}} </p>
            <p><strong>Start Time : </strong> {{order.slot.startTime}} </p>
            <p><strong>End Time : </strong> {{order.slot.endTime}} </p>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <form action="acceptRequest/{{order.id}}" method="POST" id="acceptRequest">
                  {% csrf_token %}
                  <input type="submit" value = "Accept Request" class="btn btn-success">
            </form> 
            <form action="declineRequest/{{order.id}}" method="POST" id="rejectRequest">
                  {% csrf_token %}
                  <input type="submit" value ="Reject Request" class="btn btn-danger">
            </form> 
              
            </div>
            
          </div>
        </div>
      </div>
      {%endfor %}
      <br/>
      {% if pendingOrders|length == 0 %}
        <p style="text-align:center">Currently there are no pending requests</p>
      {% endif %}
    </div>
   
  {% endif %}
</div>
  {% endif %}
{% endblock body %}
