{% extends 'base.html' %} {% block title %}My Slots{% endblock title %} 

{% block body %}
<h1 align="center">Upcoming Experiments</h1>
<div class="accordion" id="accordionExample">
    {% for slot in upcomingSlots %}

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button  class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{slot.id}}" aria-expanded="false" aria-controls="collapse{{slot.id}}" >
          {{slot.exptTitle}}, {{slot.exptDate}}
        </button>
      </h2>
      <div id="collapse{{slot.id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p><strong>Description : </strong> {{slot.exptDesc}} </p>
          <p><strong>StartTime : </strong> {{slot.startTime}} </p>
          <p><strong>EndTime : </strong> {{slot.endTime}} </p>
          {% if slot.numberOfSeats > 0%}
          <p><strong>Number Of Seats : </strong> {{slot.numberOfSeats}}</p>
          {%else%}
          <H3>All Seats Booked </H3>
          {% endif %}
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            {% if slot.numberOfSeats > 0%}
            {% if slot not in upcomingSlots %} 
            <form action="bookSlot/{{slot.id}}" method="POST" id="bookSlot">
                {% csrf_token %}
                <input type="submit" value = "Book Slot" class="btn btn-success">
            </form> 
            {% else %}
            <form action="unbookSlot/{{slot.id}}" method="POST" id="bookSlot">
                {% csrf_token %}
                <input type="submit" value = "unBook Slot" class="btn btn-danger">
            </form> 
            {% endif %}
            {% endif %}
            {% if user.is_staff %}
            <form action="updateSlot/{{slot.id}}" method="POST" id="editSlot" name="update">
                {% csrf_token %}
                <input type="submit" value = "Edit Slot" class="btn btn-warning">
            </form> 
            <form action="deleteSlot/{{slot.id}}" method="POST" id="deleteSlot">
                {% csrf_token %}
                <input type="submit" value = "Delete Slot" class="btn btn-danger">
            </form> 
            {% endif %}
            {% comment %} {% if slot in activeSlots %} Booked ! YAY!{% endif %} {% endcomment %}
          </div>
          
        </div>
      </div>
    </div>
    {%endfor %}    
</div>

<h1 align="center">Past Experiments</h1>
<table class="table table-hover table-bordered">
    <thead>

  <tr class="table-dark">

    <th>Experiment Title</th>
    <th>Experiment Date</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>

  {% for order in pastOrders %} 
    {% if order.exptStatus == "pending" %}
    <tr class="table-secondary">
        <td>{{order.slot.exptTitle}}</td>
        <td>{{order.slot.exptDate}}</td>
        <td>{{order.exptStatus}}</td>
        <td>
            <form action = "requestCompletion/{{order.id}}" method="POST" id="completeSlot" name="update">
                {% csrf_token %}
                <input type="submit" value = "Initiate Payment Request" class="btn btn-warning">
            </form> 
        </td>
    </tr>
    {% elif order.exptStatus == "completed"%}
    <tr class="table-secondary">
        <td>{{order.slot.exptTitle}}</td>
        <td>{{order.slot.exptDate}}</td>
        <td>{{order.status}}</td>
        <td>Request Initiated</td>
    </tr>
    {% elif order.exptStatus == "paid"%}
    <tr class="table-success">
        <td>{{order.slot.exptTitle}}</td>
        <td>{{order.slot.exptDate}}</td>
        <td>{{order.status}}</td>
        <td>PAID</td>
    </tr>
    {% else %} 
    <tr class="table-danger">
        <td>{{order.slot.exptTitle}}</td>
        <td>{{order.slot.exptDate}}</td>
        <td>{{order.status}}</td>
        <td>Request REJECTED</td>
    </tr>
    {% endif %} 
  {% endfor %}
</tbody>

</table>
{%endblock body%}
