<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Web Portal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <br/>
    <br/>
    <form method = "POST" action="signup" >
        {%csrf_token%}
        <h2 class="text-center">Register here</h2>
      <div class="form-group">
        <label for="inputName">Name</label><br/>
        {% comment %} <input required type="text" class="form-control" id="inputName" placeholder="Enter your name"><br/> {% endcomment %}
        {{form.username}}
      </div>
      <br/>
      <div class="form-group">
        <label for="inputEmail">Email address</label><br/>
        {% comment %} <input type="email" class="form-control" id="inputEmail" placeholder="Enter email"><br/> {% endcomment %}
        {{form.email}}
      </div>
      <br/>
      <div class="form-group">
        <label for="inputPassword">Password</label><br/>
        {% comment %} <input type="password" class="form-control" id="inputPassword" placeholder="Password"><br/> {% endcomment %}
        {{form.password1}}
      </div>
      <br/>
      <div class="form-group">
        <label for="inputConfirmPassword">Confirm Password</label><br/>
        {% comment %} <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password"><br/> {% endcomment %}
        {{form.password2}}
      </div><br/>
      <p>Already a user, click here to <a href="/login">login</a></p>
      <button type="submit" class="btn btn-primary" >Sign Up</button>
    </form>
  </div>

</body>
</html>